@use 'src/styles/mixins.scss' as mixins;

.container {
  display: grid;
  height: 100vh;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

.form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;

  @include mixins.phone {
    padding: 0 2rem;
  }
}

.formOverlay {
  height: 100%;
  width: 100%;
  margin: auto;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: var(--font-family);
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: bold;
  color: var(--primary-color);
}

.subtitle {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 3.125rem;
}

.forgotPasswordButton {
  margin-bottom: 2.5rem;
  text-align: end !important;
  font-size: 0.875rem !important;
}

.dividerContainer {
  gap: 0.75rem;
  display: flex;
  margin: 2rem 0;
  align-items: center;
}

.alternativeAccess {
  font-size: 0.875rem;
  color: var(--weak-text-color);
  margin-bottom: 0 !important;
}

.divider {
  border-bottom: 1px solid var(--weak-text-color);
  flex: 1;
}