@use 'src/styles/mixins.scss' as mixins;

.tipo {
  font-size: 14px;
  border: 1px solid var(--text-color);
  border-radius: 12px;
  display: block;
  height: 20px;
  padding: 0px 6px;
  text-align: center;
}

.identificador {
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem
}