@use 'src/styles/mixins.scss' as mixins;

.disciplinaTag {
  margin: auto;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  width: 100%;
}

.identificador {
  white-space: nowrap;
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem
}